.active {
  background-color: var(--primary);
}

.right {
  float: right;
}

.container {
  background-color: var(--main);
  color: var(--white);
}

.flex {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dFlex {
  display: flex;
}

.desktop {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-bolx-align: center;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 700px) {
  .mobile {
    display: none;
  }
  .logo {
    margin-left: 0.5rem;
  }
}

.link {
  outline: 2px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  word-wrap: break-word;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.link:hover {
  background-color: var(--main);
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.profileIcon {
  cursor: pointer;
}

.menuToggle
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 0.5rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a
{
  text-decoration: none;
  color: #232323;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  transition: color 0.3s ease;
}

.menuToggle a:hover
{
  color: tomato;
}


.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu
{
  position: absolute;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 235px;
  padding: 50px;
  padding-top: 200px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menuItems {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
}

.menuItems > a {
  border-bottom: 3px solid var(--black);
}
/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
}
