@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */


  /* COLORS */
  --main: #161825;
  --main-light:#4c5068;
  --primary: rgba(125, 153, 58, 0.6);
  --primary-light: rgba(233, 210, 81, 0.6);
  --secondary: yellow;
  --secondary-light: rgb(119, 119, 23);
  --secondary-light2: rgb(204, 204, 30);
  --white: white;
  --gray: gray;
  --gray-light:rgb(230, 225, 225);
  --black: #333;
  --red: red;
  --red-light: rgb(241, 190, 190);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* DEFAULT FONT OF THE APPLICATION
--font-primary is instanciated in app/layout.tsx
the #primaryFont wraps the entire application, just after the <body>
*/
#primaryFont {
  font-family: var(--font-primary);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  padding: 1.5rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}

h3 {
  padding-top: 25px;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: 400;
}

/* span {
  color: var(--gray-light);
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--black);
}

li {
  float: left;
  list-style: none;
}

li a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--black);
}

