@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  --main: #161825;
  --nav: rgb(24,30,42);
  --white: white;
  --green: rgb(74 222 128);
  --gray: rgb(209 213 219);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--nav);
  color: var(--white);
}

/* DEFAULT FONT OF THE APPLICATION
--font-primary is instanciated in app/layout.tsx
the #primaryFont wraps the entire application, just after the <body>
*/
#primaryFont {
  font-family: var(--font-primary);
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--nav);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 73);
  border-radius: 5px;
  }

::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92);
}

/* Default styles */

.mainBg {
  background: var(--nav);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  padding: 1.5rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--green);
  font-weight: bold;
  padding: 1rem;
}
@media(min-width: 768px) {
  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media(min-width: 1024px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: var(--gray);
}

li {
  float: left;
  list-style: none;
}
